/vendor
/node_modules
/public/storage
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/*.key
/storage/database.sqlite
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
npm-debug.log
yarn-error.log
.DS_Store
